.wp-block-tcd-chart-shortcode .wp-block-embed form {
	flex-wrap: nowrap;

	select {
		flex: 1 1 auto;
		max-width: none;
	}

	.components-button {
		flex: 0 0 auto;
		margin: 0 0 0 8px;
	}

	.choices {
		flex: 1 1 auto;
		min-width: 0;
		max-width: 100%;
		margin-bottom: 0;
	}

	.choices ~ .components-button {
		height: auto;
	}

	.choices * {
		box-sizing: border-box;
	}

	.choices__input {
		height: 44px;
		padding: 0 10px;
		background-color: #f9f9f9;
		border-color: #ddd;
		border-style: solid;
		border-width: 0 0 1px;
		border-radius: 0;
	}

	.choices__input:focus {
		border-color: #ddd;
		border-style: solid;
		border-width: 0 0 1px;
		border-radius: 0;
		outline: none;
		box-shadow: none;
	}

	.choices__item {
		width: 100%;
		padding-right: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.choices__list--dropdown,
	.choices__list[aria-expanded] {
		z-index: 10;
	}
}

iframe.tcd-block-chart-preview {
	width: 100%;
	height: 300px;
	pointer-events: none;
}
