@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  エアコン一括見積LP専用
// ---------------------------------------------

#header,
#footer_contact,
#footer,
#copyright,
#return_top,
#mobile_menu {
  display: none;
}

#container {
  margin-top: 0;
}

.mv {
  background: #0f88da;

  dl {
    line-height: 1.3;
  }

  dt {
    font-size: var(--fz25);
    font-weight: 900;
  }

  dd {
    margin-bottom: 10px;
    font-size: var(--fz43);
    font-weight: 900;
  }

  strong {
    box-sizing: border-box;
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 15px auto 0;
    font-size: var(--fz40);
    font-weight: 900;
    background: #024897;

    span {
      color: #fcff00;
    }
  }

  p {
    font-size: var(--fz50);
    font-weight: 900;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  b {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: var(--fz35);
    font-weight: 900;
    color: #fcff00;
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 60px;
    }

    @include max-mq {
      &:last-of-type {
        margin-bottom: 40px;
      }
    }
  }

  input {
    border-radius: 5px;
  }

  .is-required {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;


    &::after {
      position: absolute;
      right: -50px;
      box-sizing: border-box;
      width: 40px;
      padding: 2px 5px 3px;
      font-size: var(--fz14);
      text-align: center;
    }
  }

  .contact_form {
    // .contact_form--wrap
    &--wrap {
      box-sizing: border-box;
      width: 100%;
      max-width: 600px;
      padding: 30px;
      color: #fff;
      background: #024897;
      border-radius: 10px;

      .wpcf7-spinner {
        margin: 0;
      }

      @include max-mq {
        padding: 15px;
      }
    }

    // .contact_form--attention
    &--attention {
      font-size: var(--fz14);
    }

    // .contact_form--circle
    &--circle {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      font-size: var(--fz17);
      line-height: 1.4;
      color: #fff;
      background: #f00;
      border-radius: 50%;

      @include max-mq {
        width: 60px;
        height: 60px;
        font-size: var(--fz14);
        line-height: 1.3;
      }
    }

    // .contact_form--btn
    &--btn {
      display: unset;
      width: auto;
      padding: 0;
      margin: 0;
      overflow: hidden;
      font-size: unset;
      font-weight: unset;
      color: unset;
      text-align: unset;
      cursor: unset;
      background: unset;
      border: none;
    }
  }

  .contents {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 60px min(4vw, 25px);
  }

  // .mv--num
  &--num {
    font-size: var(--fz85);
    font-weight: 900;
    color: #f00;
    letter-spacing: 5px;
    -webkit-text-stroke: 8px #fff;
    paint-order: stroke fill;

    &.-sm {
      font-size: var(--fz60);
    }
  }

  // .mv--form
  &--form {
    align-self: center;
  }

  // .mv--link
  &--link {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 650px;
    padding: 15px 10px 15px 75px;
    margin: 0 auto 60px;
    overflow: hidden;
    font-size: var(--fz50);
    font-weight: 900;
    color: #fcff00;
    text-align: center;
    cursor: pointer;
    background: #f00;
    border: solid 2px #fff;
    border-radius: 100px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 8px #f00;

    &::before {
      position: absolute;
      top: 50%;
      left: 40px;
      display: inline-block;
      width: 100px;
      height: auto;
      font-size: var(--fz30);
      color: #f00;
      content: "無料";
      background: #fff;
      border-radius: 1000px;
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      top: -60px;
      left: -60px;
      display: block;
      width: 50px;
      height: 50px;
      content: "";
      background: linear-gradient(to right, rgb(255 255 255 / 0%), rgb(255 255 255 / 90%));
      animation-name: shine-run;
      animation-duration: 3s;
      animation-timing-function: ease-in;
      animation-delay: 0s;
      animation-iteration-count: infinite;
    }

    &.-sm {
      max-width: 400px;
      padding: 15px 10px 15px 115px;
      font-size: var(--fz30);

      &::before {
        left: 30px;
        width: 75px;
        padding: 5px 3px;
        font-size: var(--fz20);
      }
    }

    @keyframes shine-run {
      0% {
        opacity: 0;
        transform: scale(0) rotate(50deg);
      }

      40% {
        opacity: 1;
        transform: scale(1) rotate(50deg);
      }

      100% {
        opacity: 0;
        transform: scale(250) rotate(50deg);
      }
    }

    @media (width <= 1280px) {
      max-width: 360px;
      padding: 15px 10px 15px 90px;
      font-size: var(--fz40);

      &::before {
        left: 30px;
        width: 80px;
        font-size: var(--fz25);
      }
    }

    @include max-mq {
      margin: 0 auto 30px;
      font-size: var(--fz28);
      border: solid 0 #fff;

      &::before {
        left: 30px;
        width: 60px;
        font-size: var(--fz22);
      }

      &.-sm {
        width: 320px;
        max-width: unset;
        padding: 12px 10px 15px 55px;
        font-size: var(--fz22);

        &::before {
          left: 25px;
          width: 3em;
          padding: 5px 3px;
          font-size: var(--fz14);
        }
      }
    }

    @media (width <= 480px) {
      width: 90%;
      max-width: none;
      padding: 15px 10px 15px 70px;
      font-size: var(--fz25);

      &::before {
        left: 20px;
        width: 3em;
        font-size: var(--fz23);
      }

      &.-sm {
        width: 100%;

        &::before {
          left: 15px;
          width: 3em;
          padding: 5px 3px;
          font-size: var(--fz18);
        }
      }
    }
  }

  // .mv--contents
  &--contents {
    width: 56%;
    color: #fff;
    text-align: center;

    @media (width <= 1024px) {
      gap: 60px;
      width: 100%;
    }
  }

  @media (width <= 1280px) {
    p {
      font-size: var(--fz40);

      &:last-of-type {
        margin-bottom: 30px;
      }
    }

    strong {
      font-size: var(--fz30);
    }
  }

  @media (width <= 1024px) {
    .contents {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
  }

  @include max-mq {
    dt {
      font-size: var(--fz20);
    }

    dd {
      font-size: var(--fz35);
    }

    b {
      font-size: var(--fz20);
    }
  }
}

.flow {
  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 900;
    text-align: center;

    span {
      color: #f00;
    }
  }

  ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  li {
    &:nth-child(1) {
      dt {
        background: #78c4ee;
      }
    }

    &:nth-child(2) {
      dt {
        background: #8ad3ee;
      }
    }

    &:nth-child(3) {
      dt {
        background: #6bd3e6;
      }
    }
  }

  dt {
    padding: 10px;
    font-size: var(--fz20);
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  dd {
    padding: 20px;
    text-align: center;
    background: #fff;
  }

  .contents {
    width: min(1150px, 100%);
  }

  @include max-mq {
    h2 {
      font-size: var(--fz30);
    }

    ol {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.worry {
  background: url(../img/ikkatu/bg_worry.jpg) no-repeat center center /cover;

  h2 {
    margin-bottom: 60px;
    font-size: var(--fz60);
    font-weight: 900;
    color: #fff;
    text-align: center;
  }

  ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 40px;
  }

  li {
    position: relative;
    padding: 20px 0 20px 80px;
    font-size: var(--fz23);
    font-weight: 900;
    color: #f00;
    background: #fff;

    &::before {
      position: absolute;
      top: 50%;
      left: 30px;
      display: inline-block;
      width: 30px;
      height: 30px;
      content: "";
      background: url(../img/ikkatu/icon_check.png) no-repeat center center /contain;
      transform: translateY(-50%);
    }
  }

  b {
    display: block;
    margin-bottom: 30px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #fff;
    text-align: center;
  }

  p {
    font-size: var(--fz45);
    font-weight: 900;
    color: #fff;
    text-align: center;

    span {
      font-size: var(--fz60);
      color: #f00;
    }
  }

  .contents {
    width: min(1150px, 100%);
  }

  // .worry--dots
  &--dots {
    padding-top: 15px;
    color: #fcff00;
    background-image: radial-gradient(circle at center, #fcff00 20%, transparent 20%);
    background-repeat: repeat-x;
    background-position: top right;
    background-size: 1em 0.3em;
  }

  @include max-mq {
    h2 {
      font-size: var(--fz45);
    }

    b {
      font-size: var(--fz35);
    }

    ol {
      grid-template-columns: repeat(1, 1fr);
    }

    li {
      padding: 20px 20px 20px 55px;
      font-size: var(--fz23);

      &::before {
        left: 20px;
        width: 20px;
        height: 20px;
      }
    }

    p {
      font-size: var(--fz40);

      span {
        display: block;
      }
    }
  }
}

.point {
  p {
    position: relative;
    width: fit-content;
    padding: 0 70px;
    margin: 0 auto 40px;
    font-size: var(--fz45);
    font-weight: 900;

    &::before,
    &::after {
      position: absolute;
      bottom: 10px;
      display: inline-block;
      width: 51px;
      height: 47px;
      content: "";
    }

    &::before {
      left: 0;
      background: url(../img/ikkatu/icon_kyoutyou_left.png) no-repeat center/contain;
    }

    &::after {
      right: 0;
      background: url(../img/ikkatu/icon_kyoutyou_right.png) no-repeat center/contain;
    }
  }

  b {
    display: block;
    width: fit-content;
    padding: 0 15px;
    margin: 0 auto 30px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #f00;
    background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
  }

  h2 {
    margin-bottom: 40px;
    font-size: var(--fz50);
    font-weight: 900;
    line-height: 1.3;
    color: #004ba6;
    text-align: center;

    span {
      font-size: var(--fz70);
      font-weight: 900;
      color: #fcff00;
      -webkit-text-stroke: 10px #333;
      paint-order: stroke fill;
    }
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
  }

  li {
    position: relative;
    width: calc((100% / 3) - 20px);
    min-width: 310px;

    &:nth-child(1) {
      &::before {
        position: absolute;
        top: -10px;
        left: -10px;
        display: inline-block;
        width: 56px;
        height: 56px;
        content: "";
        background: url(../img/ikkatu/point_01.png) no-repeat center/contain;
      }
    }

    &:nth-child(2) {
      &::before {
        position: absolute;
        top: -10px;
        left: -10px;
        display: inline-block;
        width: 56px;
        height: 56px;
        content: "";
        background: url(../img/ikkatu/point_02.png) no-repeat center/contain;
      }
    }

    &:nth-child(3) {
      &::before {
        position: absolute;
        top: -10px;
        left: -10px;
        display: inline-block;
        width: 56px;
        height: 56px;
        content: "";
        background: url(../img/ikkatu/point_03.png) no-repeat center/contain;
      }
    }

    &:nth-child(4) {
      &::before {
        position: absolute;
        top: -10px;
        left: -10px;
        display: inline-block;
        width: 56px;
        height: 56px;
        content: "";
        background: url(../img/ikkatu/point_04.png) no-repeat center/contain;
      }
    }

    &:nth-child(5) {
      &::before {
        position: absolute;
        top: -10px;
        left: -10px;
        display: inline-block;
        width: 56px;
        height: 56px;
        content: "";
        background: url(../img/ikkatu/point_05.png) no-repeat center/contain;
      }
    }
  }

  dl {
    border: 5px solid #004ba6;
  }

  dt {
    padding: 10px 0;
    font-size: var(--fz23);
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #004ba6;
  }

  dd {
    padding: 20px 10px;
    text-align: center;
  }

  .contents {
    width: min(1150px, 100%);
  }

  @include max-mq {
    p {
      padding: 0;
      font-size: var(--fz35);
      text-align: center;

      &::before,
      &::after {
        bottom: 10px;
        width: 35px;
        height: 31px;
      }

      &::before {
        left: -40px;
      }

      &::after {
        right: -40px;
      }
    }

    b {
      font-size: var(--fz32);
      text-align: center;
    }

    h2 {
      font-size: var(--fz40);
      line-height: 1.6;

      span {
        display: block;
        font-size: var(--fz51);
        -webkit-text-stroke: 8px #333;
      }
    }

    li {
      min-width: 100%;
    }
  }
}

.cvarea {
  h2 {
    width: fit-content;
    padding: 0 30px 10px;
    margin: 0 auto 60px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #fcff00;
    border-bottom: 1px solid #fff;
  }

  b {
    position: relative;
    left: -33px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #f00;
    -webkit-text-stroke: 8px #fff;
    paint-order: stroke fill;
  }

  li {
    position: relative;
    margin-bottom: 30px;
    font-size: var(--fz25);
    font-weight: 900;
    color: #fff;

    &:last-child {
      margin-bottom: 60px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: -40px;
      display: inline-block;
      width: 25px;
      height: 25px;
      content: "";
      background: url(../img/ikkatu/cv_check.png) no-repeat center center /contain;
      transform: translateY(-50%);
    }
  }

  .header--btns {
    flex-direction: column;
  }

  .header--item {
    display: block;

    p {
      font-size: var(--fz30);
      font-weight: 800;
      color: #fff;
      text-align: center;
    }
  }

  // .cvarea--inner
  &--inner {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }

  @include max-mq {
    h2 {
      padding: 0 5px 15px;
      text-align: center;
    }

    b {
      left: 0;
      display: block;
      text-align: center;
    }

    ul {
      padding-left: 45px;
    }
  }
}

.voice {
  // .voice--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include max-mq {
      grid-template-columns: 1fr;
    }
  }

  // .voice--item
  &--item {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    padding: 30px;
    background: #fff;
    border: 4px solid #004ba6;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    h3 {
      font-size: var(--fz20);
      font-weight: 800;
      color: #004ba6;
      text-align: center;
    }

    span {
      display: block;
      font-size: var(--fz14);
      font-weight: 800;
      text-align: center;
    }

    img {
      display: block;
      margin: auto;
    }

    p {
      margin-top: -15px;
    }

    @include max-mq {
      padding: 15px;
    }
  }
}

.use {
  ol {
    max-width: 1000px;
    margin: auto; /* カウンターを初期化 */
    margin-bottom: 60px;
    counter-reset: num;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 30px;
    background: #fff;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  h3 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #007bf8;
    counter-increment: num;
    border-bottom: 1px solid #007bf8;

    &::before {
      padding: 8px;
      margin-right: 10px;
      font-size: var(--fz20);
      font-weight: 900;
      color: #fff;
      content: "STEP" counter(num, decimal-leading-zero);
      background: #007bf8;
      border-radius: 5px;
    }
  }

  b {
    display: block;
    margin-bottom: 30px;
    font-size: var(--fz25);
    color: #fff000;
    text-align: center;
  }

  span {
    display: block;
    font-size: var(--fz20);
    color: #fff;
    text-align: center;
  }

  .ttl {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  // .use--txt
  &--txt {
    width: 65%;

    @include max-mq {
      width: 100%;
    }
  }

  @include max-mq {
    h3 {
      font-size: var(--fz20);

      &::before {
        padding: 5px 8px;
        font-size: var(--fz16);
      }

      + img {
        display: block;
        width: 100%;
        height: 200px;
        margin: 0 auto 15px;
        object-fit: cover;
      }
    }

    li {
      gap: 15px;
      padding: 15px;
    }
  }
}

.region {
  img {
    display: block;
    margin: 0 auto 60px;
  }

  dl {
    div {
      padding: 40px 30px;
      border: 4px solid #004ba6;
      box-shadow: 6.293px 7.771px 25px 0 rgb(0 42 93 / 40%);

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  dt {
    position: relative;
    width: 200px;
    padding: 8px 0;
    padding-left: 15px;
    margin: 0 auto 15px;
    font-size: var(--fz23);
    color: #fff;
    text-align: center;
    background: #007bf8;
    border-radius: 1000px;

    &::before {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 18px;
      height: 26px;
      content: "";
      background: url(../img/ikkatu/icon_map.png) no-repeat center center / contain;
      transform: translateY(-50%);
    }
  }

  dd {
    line-height: 1.8;
  }

  @include max-mq {
    dl {
      div {
        padding: 30px;
      }
    }

    dt {
      width: 160px;
      margin: 0 auto 15px;
      font-size: var(--fz20);
    }
  }
}

.faq {
  dt {
    padding: 30px;
    font-size: var(--fz20);
    font-weight: 800;
    color: #fff;
    background: #007bf8;

    &::before {
      font-size: var(--fz23);
      content: "Q.";
    }
  }

  dd {
    padding: 30px 30px 30px 70px;
    text-indent: -23px;
    background: #fff;

    &::before {
      font-size: var(--fz20);
      content: "A.";
    }
  }

  dl {
    div {
      &:nth-of-type(4) {
        ul {
          margin-top: 10px;
          line-height: 1.8;
          text-indent: 0;
        }
      }
    }
  }

  div {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  @include max-mq {
    dt {
      padding: 15px;
      padding-left: 35px;
      font-size: var(--fz20);
      text-indent: -20px;

      &::before {
        font-size: var(--fz20);
      }
    }

    dd {
      padding: 20px 20px 20px 30px;
      text-indent: -15px;
    }
  }
}
