@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  エアコン一括見積LP専用
// ---------------------------------------------

#header,
#footer_contact,
#footer,
#copyright,
#return_top,
#mobile_menu {
  display: none;
}

#container {
  margin-top: 0;
}

.mv {
  background: #0f88da;

  dl {
    line-height: 1.3;
  }

  dt {
    font-size: var(--fz25);
    font-weight: 900;
  }

  dd {
    margin-bottom: 10px;
    font-size: var(--fz43);
    font-weight: 900;
  }

  strong {
    box-sizing: border-box;
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 15px auto 0;
    font-size: var(--fz40);
    font-weight: 900;
    background: #024897;

    span {
      color: #fcff00;
    }
  }

  p {
    font-size: var(--fz50);
    font-weight: 900;

    &:last-of-type {
      margin-bottom: 60px;
    }
  }

  b {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    font-size: var(--fz35);
    font-weight: 900;
    color: #fcff00;
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 60px;
    }
  }

  input {
    border-radius: 5px;
  }

  .is-required {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;


    &::after {
      position: absolute;
      right: -50px;
      box-sizing: border-box;
      width: 40px;
      padding: 2px 5px 3px;
      font-size: var(--fz14);
      text-align: center;
    }
  }

  .contact_form {
    // .contact_form--wrap
    &--wrap {
      box-sizing: border-box;
      width: 100%;
      max-width: 600px;
      padding: 30px;
      color: #fff;
      background: #024897;
      border-radius: 10px;

      .wpcf7-spinner {
        margin: 0;
      }
    }

    // .contact_form--attention
    &--attention {
      font-size: var(--fz14);
    }

    // .contact_form--circle
    &--circle {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      font-size: var(--fz17);
      line-height: 1.4;
      color: #fff;
      background: #f00;
      border-radius: 50%;
    }
  }

  .contents {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px min(4vw, 25px);
  }

  .contact_form--btn {
    display: unset;
    width: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: unset;
    font-weight: unset;
    color: unset;
    text-align: unset;
    cursor: unset;
    background: unset;
    border: none;
  }

  // .mv--num
  &--num {
    font-size: var(--fz85);
    font-weight: 900;
    color: #f00;
    letter-spacing: 5px;
    content: counter(num, decimal-leading-zero);
    -webkit-text-stroke: 8px #fff;
    paint-order: stroke fill;

    &.-sm {
      font-size: var(--fz60);
    }
  }

  // .mv--form
  &--form {
    align-self: center;
  }

  // .mv--link
  &--link {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 650px;
    padding: 15px 10px 15px 75px;
    margin: 0 auto 40px;
    overflow: hidden;
    font-size: 50px;
    font-weight: 900;
    color: #fcff00;
    text-align: center;
    cursor: pointer;
    background: #f00;
    border: solid 2px #fff;
    border-radius: 100px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 8px #f00;

    &::before {
      position: absolute;
      top: 50%;
      left: 40px;
      display: inline-block;
      width: 100px;
      height: auto;
      font-size: var(--fz30);
      color: #f00;
      content: "無料";
      background: #fff;
      border-radius: 1000px;
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      top: -60px;
      left: -60px;
      display: block;
      width: 50px;
      height: 50px;
      content: "";
      background: linear-gradient(to right, rgb(255 255 255 / 0%), rgb(255 255 255 / 90%));
      animation-name: shine-run;
      animation-duration: 3s;
      animation-timing-function: ease-in;
      animation-delay: 0s;
      animation-iteration-count: infinite;
    }

    &.-sm {
      max-width: 400px;
      padding: 15px 10px 15px 115px;
      font-size: var(--fz30);

      &::before {
        left: 30px;
        width: 75px;
        padding: 5px 3px;
        font-size: var(--fz20);
      }
    }

    @keyframes shine-run {
      0% {
        opacity: 0;
        transform: scale(0) rotate(50deg);
      }

      40% {
        opacity: 1;
        transform: scale(1) rotate(50deg);
      }

      100% {
        opacity: 0;
        transform: scale(250) rotate(50deg);
      }
    }
  }

  // .mv--contents
  &--contents {
    width: 100%;
    max-width: 785px;
    color: #fff;
    text-align: center;
  }
}

.voice {
  // .voice--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include max-mq {
      grid-template-columns: 1fr;
    }
  }

  // .voice--item
  &--item {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    padding: 30px;
    background: #fff;
    border: 4px solid #004ba6;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    h3 {
      font-size: var(--fz20);
      font-weight: 800;
      color: #004ba6;
      text-align: center;
    }

    span {
      display: block;
      font-size: var(--fz14);
      font-weight: 800;
      text-align: center;
    }

    img {
      display: block;
      margin: auto;
    }

    p {
      margin-top: -15px;
    }

    @include max-mq {
      padding: 15px;
    }
  }
}

.use {
  .ttl {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  ol {
    max-width: 1000px;
    margin: auto; /* カウンターを初期化 */
    counter-reset: num;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 30px;
    background: #fff;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  h3 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #007bf8;
    counter-increment: num;
    border-bottom: 1px solid #007bf8;

    &::before {
      padding: 8px;
      margin-right: 10px;
      font-size: var(--fz20);
      font-weight: 900;
      color: #fff;
      content: "STEP" counter(num, decimal-leading-zero);
      background: #007bf8;
      border-radius: 5px;
    }
  }

  // .use--txt
  &--txt {
    width: 65%;

    @include max-mq {
      width: 100%;
    }
  }

  @include max-mq {
    h3 {
      font-size: var(--fz20);

      &::before {
        padding: 5px 8px;
        font-size: var(--fz16);
      }

      + img {
        display: block;
        width: 100%;
        height: 200px;
        margin: 0 auto 15px;
        object-fit: cover;
      }
    }

    li {
      gap: 15px;
      padding: 15px;
    }
  }
}

.region {
  img {
    display: block;
    margin: 0 auto 60px;
  }

  dl {
    div {
      padding: 40px 30px;
      border: 4px solid #004ba6;
      box-shadow: 6.293px 7.771px 25px 0 rgb(0 42 93 / 40%);

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  dt {
    position: relative;
    width: 200px;
    padding: 8px 0;
    padding-left: 15px;
    margin: 0 auto 15px;
    font-size: var(--fz23);
    color: #fff;
    text-align: center;
    background: #007bf8;
    border-radius: 1000px;

    &::before {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 18px;
      height: 26px;
      content: "";
      background: url(../img/ikkatu/icon_map.png) no-repeat center center / contain;
      transform: translateY(-50%);
    }
  }

  dd {
    line-height: 1.8;
  }

  @include max-mq {
    dl {
      div {
        padding: 30px;
      }
    }

    dt {
      width: 160px;
      margin: 0 auto 15px;
      font-size: var(--fz20);
    }
  }
}

.faq {
  dt {
    padding: 30px;
    font-size: var(--fz20);
    font-weight: 800;
    color: #fff;
    background: #007bf8;

    &::before {
      font-size: var(--fz23);
      content: "Q.";
    }
  }

  dd {
    padding: 30px 30px 30px 70px;
    text-indent: -23px;
    background: #fff;

    &::before {
      font-size: var(--fz20);
      content: "A.";
    }
  }

  dl {
    div {
      &:nth-of-type(4) {
        ul {
          margin-top: 10px;
          line-height: 1.8;
          text-indent: 0;
        }
      }
    }
  }

  div {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  @include max-mq {
    dt {
      padding: 15px;
      padding-left: 35px;
      font-size: var(--fz20);
      text-indent: -20px;

      &::before {
        font-size: var(--fz20);
      }
    }

    dd {
      padding: 20px 20px 20px 30px;
      text-indent: -15px;
    }
  }
}
