@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  エアコン一括見積LP専用
// ---------------------------------------------

#header,
#footer_contact,
#footer,
#copyright,
#return_top {
  display: none;
}

#container {
  margin-top: 0;
}

.use {
  .ttl {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  ol {
    max-width: 1000px;
    margin: auto; /* カウンターを初期化 */
    counter-reset: num;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 30px;
    background: #fff;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  h3 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #007bf8;
    counter-increment: num;
    border-bottom: 1px solid #007bf8;

    &::before {
      padding: 8px;
      margin-right: 10px;
      font-size: var(--fz20);
      font-weight: 900;
      color: #fff;
      content: "STEP" counter(num, decimal-leading-zero);
      background: #007bf8;
      border-radius: 5px;
    }
  }

  // .use--txt
  &--txt {
    width: 65%;

    @include max-mq {
      width: 100%;
    }
  }

  @include max-mq {
    h3 {
      font-size: var(--fz20);

      &::before {
        padding: 5px 8px;
        font-size: var(--fz16);
      }

      + img {
        display: block;
        width: 100%;
        height: 200px;
        margin: 0 auto 15px;
        object-fit: cover;
      }
    }

    li {
      gap: 15px;
      padding: 15px;
    }
  }
}

.region {
  img {
    display: block;
    margin: 0 auto 60px;
  }

  dl {
    div {
      padding: 40px 30px;
      border: 4px solid #004ba6;
      box-shadow: 6.293px 7.771px 25px 0 rgb(0 42 93 / 40%);

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  dt {
    position: relative;
    width: 200px;
    padding: 8px 0;
    padding-left: 15px;
    margin: 0 auto 15px;
    font-size: var(--fz23);
    color: #fff;
    text-align: center;
    background: #007bf8;
    border-radius: 1000px;

    &::before {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 18px;
      height: 26px;
      content: "";
      background: url(../img/ikkatu/icon_map.png) no-repeat center center / contain;
      transform: translateY(-50%);
    }
  }

  dd {
    line-height: 1.8;
  }

  @include max-mq {
    dl {
      div {
        padding: 30px;
      }
    }

    dt {
      width: 160px;
      margin: 0 auto 15px;
      font-size: var(--fz20);
    }
  }
}

.faq {
  dt {
    padding: 30px;
    font-size: var(--fz20);
    font-weight: 800;
    color: #fff;
    background: #007bf8;

    &::before {
      font-size: var(--fz23);
      content: "Q.";
    }
  }

  dd {
    padding: 30px 30px 30px 70px;
    text-indent: -23px;
    background: #fff;

    &::before {
      font-size: var(--fz20);
      content: "A.";
    }
  }

  dl {
    div {
      &:nth-of-type(4) {
        ul {
          margin-top: 10px;
          line-height: 1.8;
          text-indent: 0;
        }
      }
    }
  }

  div {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  @include max-mq {
    dt {
      padding: 15px;
      padding-left: 35px;
      font-size: var(--fz20);
      text-indent: -20px;

      &::before {
        font-size: var(--fz20);
      }
    }

    dd {
      padding: 20px 20px 20px 30px;
      text-indent: -15px;
    }
  }
}

.contact {
  p {
    margin-bottom: 30px;
    font-size: var(--fz20);
    font-weight: 600;
    text-align: center;
  }

  .thanks--tel {
    margin: 0 auto 60px;
  }

  @include max-mq {
    p {
      margin-bottom: 60px;
      font-size: var(--fz16);
    }
  }
}
