@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  base
// ---------------------------------------------

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: $font-sans;
  font-size: var(--fz18);
  font-weight: 500;
  line-height: 1.6;
  color: $color-body;
}

// font-sizeは下記の用に指定
// font-size: var(--fz14);

.wrap {
  // min-width: 1200px;
  margin: auto;

  @include max-mq {
    width: 100%;
    min-width: auto;
  }
}

.contents {
  box-sizing: border-box;
  width: min(1450px, 100%); // デザインの幅 + padding
  padding: 0 min(4vw, 25px);
  margin: auto;

  &.-md {
    width: min(1050px, 100%); // デザインの幅 + padding
  }
}

main {
  display: block;

  // for ipad portrait mode

  @media (min-width: 768px) and (max-width: 769px) and (orientation: portrait) {
    min-height: 95vh;
  }
}

// ---------------------------------------------
//  ヘッダー関連 header
// ---------------------------------------------

.header {
  // .header--catch
  &--catch {
    padding: 10px 0;
    font-size: var(--fz23);
    font-weight: 900;
    color: #fff;
    text-align: center;
    background: #0f88da;

    span {
      color: #ffea00;
    }
  }

  // .header--inner
  &--inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }

  // .header--btns
  &--btns {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    align-items: center;
    justify-content: center;

    @include max-mq {
      gap: 3px;
    }
  }

  // .header--item
  &--item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


// ---------------------------------------------
//  フッター関連 footer
// ---------------------------------------------

