@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  base
// ---------------------------------------------

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: $font-sans;
  font-size: var(--fz18);
  font-weight: 500;
  line-height: 1.6;
  color: $color-body;
}

// font-sizeは下記の用に指定
// font-size: var(--fz14);

.wrap {
  // min-width: 1200px;
  margin: auto;

  @include max-mq {
    width: 100%;
    min-width: auto;
  }
}

.contents {
  box-sizing: border-box;
  width: min(1450px, 100%); // デザインの幅 + padding
  padding: 0 min(4vw, 25px);
  margin: auto;
}

main {
  display: block;

  // for ipad portrait mode

  @media (min-width: 768px) and (max-width: 769px) and (orientation: portrait) {
    min-height: 95vh;
  }
}

.totop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;

  // display: none; fadeInを利用するときに必要

  @include max-mq {
    width: 44px;
    height: 44px;
  }
}


// ---------------------------------------------
//  ヘッダー関連 header
// ---------------------------------------------

.header {
  // .header--catch
  &--catch {
    padding: 10px 0;
    font-size: var(--fz23);
    font-weight: 900;
    color: #fff;
    text-align: center;
    background: #0f88da;

    span {
      color: #ffea00;
    }
  }

  // .header--inner
  &--inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }

  // .header--btns
  &--btns {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    align-items: center;
    justify-content: center;

    @include max-mq {
      gap: 3px;
    }
  }
}

//スクロールで出現するヘッダー
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1111111111;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  background: rgb(255 255 255 / 95%);
  box-shadow: 0 3px 18px rgb(0 0 0 / 25%);

  // デフォルトは transition 無し
  transition: none;
  transform: translateY(-100%);
  will-change: transform;

  &.is-ready {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    transition-property: transform;
  }

  &.is-visible.is-ready {
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transition-duration: 640ms;
    transform: translateY(0);
  }
}


// ---------------------------------------------
//  フッター関連 footer
// ---------------------------------------------

.footer {
  // .footer--copy
  &--copy {
    padding: 10px;
    line-height: 1;
    text-align: center;
  }
}
